<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{.Title}}</title>
</head>

<body>
{{/*
   Comparator Go HTML
   eq = arg1 == arg2
   ne = arg1 != arg2
   lt = arg1 < arg2
   le = arg1 <= arg2
   gt = arg1 > arg2
   ge = arg1 >= arg2
*/}}
{{if ge .FinalValue 80}}
<p>Good</p>
{{else if ge .FinalValue 60}}
<p>Nice Try</p>
{{else}}
<p> See You Next Year </p>
{{end}}
</body>

</html>